<html>
    <head></head>
    <body>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" />
            <input type="submit" name="submit" value="Upload" />
        </form>
    </body>
</html>